<section class="main-container">
	<div id="listProducts" class="main-products-container">
	</div>
	<div class="form-container">
		<aside class="delete-form">
			<form id="formDelete" class="">
				<h3 class="mb-5">Delete a Product</h3>
				<input
					type="number"
					required
					id="deleteInput"
					name="deleteInput"
					placeholder="Ingrese el id"
				/>
				<button type="submit">Eliminar</button>
			</form>
		</aside>
		<aside class="add-form">
			<form id="formAdd" class="form" action="">
				<h3 class="">Add a Product</h3>
				<input
					type="text"
					required
					id="title"
					name="title"
					placeholder="Ingrese el nombre"
				/>
				<input
					type="text"
					required
					id="description"
					name="description"
					placeholder="Ingrese la descripcion"
				/>
				<input
					type="text"
					required
					id="code"
					name="code"
					placeholder="Ingrese el code"
				/>
				<input
					type="number"
					required
					id="price"
					name="price"
					placeholder="Ingrese el precio"
				/>
				<input
					type="number"
					required
					id="stock"
					name="stock"
					placeholder="Ingrese el stock"
				/>
				<input
					type="text"
					required
					id="category"
					name="categoty"
					placeholder="Ingrese la categoria"
				/>
				<label class="switch">
					<input
						type="checkbox"
						name="status"
						id="status"
						value="true"
						checked
					/>
					Status
				</label>
				<input
					type="file"
					name="thumbnail"
					id="thumbnail"
					placeholder="Ingrese imagen"
				/>
				<button type="submit">Agregar</button>
			</form>
		</aside>
	</div>
</section>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>