<div>
	<input type="text" id="text" />
	<ul id="mensajes"></ul>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js">
	// para chequear que esta instalado localhost:8080/socket.io/socket.io.js
</script>